@import url(../style.css);

.cabecalho{
    background-image: url(../../images/bg-header-desktop.png);
    background-repeat: no-repeat;
}

.cabecalho_figure{
    display: flex;
    /* align-items: center; */
    padding-top: 5.5em;
    justify-content: center;
}

.cabecalho_logo{
    width: 6.5em;
}

.cabecalho_titulo{
    text-align: center;
    padding-top: 1em;
    font-family: var(--fonte);
    font-size: 2.4em;
}

.cabecalho_paragrafo{
    text-align: center;
    font-size: 18px;
    font-family: var(--fonte);
    padding-top: 0.5em;


}